body {
    background-color: pink; 
}

.test-2-container {
    border: 3px solid #d61274ad;
    border-radius: .4em;
    padding: .5em 1em;
    margin-top: 5em;
    background-color: #fff; 
}

#test-2 {
    position: relative;
    
}

.test-2-word{
    display: inline-block;
    position: absolute;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    touch-action: none;
    
    top: 0;
    left: 20px;
    border: 1px solid red;
    border-radius: .4em 0 0 .4em;
    padding: .2em .5em;
    margin-bottom: .2em;
    background: yellow;
    color: red;
}

.test-2-meaning{
    display: inline-block;
    position: absolute;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    touch-action: none;
    
    top: 0;
    left: 20px;
    border: 1px solid #4c4c4c;
    border-radius:  0 .4em .4em 0;
    padding: .2em .5em;
    margin-bottom: .2em;
    background: #cccccc;
    color: red;

}

.active {
    /*transform: scale(1.1);*/
    z-index: 5;
    border-style: dotted;

}

.test-modal-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    display: flex; /* or inline-flex */
    justify-content: space-around;
    align-items: center;
}

.test-modal-header-img {
    width: 6em;
}

.test-modal-body {
    padding: 1rem;
    display: flex; /* or inline-flex */
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.test-modal-footer {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}